/* src/components/Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #bcebde;
  color: #00491b;
}

/* LEFT SIDE */
.left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: rgb(48, 124, 71);
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  color: #00491b;
}

/* RIGHT SIDE */
.right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* BUTTON */
.near-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #00491b;
  border: 1px solid #c8e6c9;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-weight: 600;
}
.near-btn:hover {
  background-color: #16a34a;
}

/* Hides desktop-only elements on mobile */
@media (max-width: 608px) {
  .nav-links {
    display: none;
  }

  .desktop-only {
    display: none !important;
  }

  .logo {
    font-size: 1.2rem;
  }
}

/* SEARCH */
.search-container {
  position: relative;
  width: 220px;
}

.search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px #ccc;
  border-radius: 20px;
}

.search-input {
  padding: 8px 40px 8px 12px;
  border-radius: 20px;
  outline: none;
  width: 220px;
}

.search-icon {
  color: #555;
  font-size: 20px;
}

.search-icon-btn:hover .search-icon {
  color: #22c55e;
}

.search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 20px 20px;
  z-index: 1000;
}
